nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post-desc {
  padding: 1rem 0 2rem 0;
  font-size: 1.5rem;
}

.container {
  padding: 1rem 2rem;
  margin: 0, auto;
  max-width: 1024px;
}

.comments {
  margin-top: 30px;
}
